.app-container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 200px;
  background-color: #583b30;
  color: white;
  padding: 10px;
}
.logo img {
  width: 80%;
  height: auto;
  margin-left: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  display: block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.sidebar-menu li svg {
  font-size: 50px;
  gap:20px;
}
.sidebar-menu li:hover{
  transform: scale(1.1);
}
.sidebar-menu li svg:hover{
  transform: scale(1.1);
}
.main-container {
  flex-grow: 1;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

h1{
  background-color: #7d5d4a;
  color:white;
  padding: 20px;
  text-align: center;
  margin-top: 0px;
}
header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin: 0px 40px;
}

.start {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 80%;
  margin: 0 10px;
}
.start:hover{
  transform: scale(1.1);
}
.start.red {
  background-color: rgb(134, 83, 83);
}

.start.purple {
  background-color: #6b4198;
}

.start.green {
  background-color: #4c9f76;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.title {
  font-size: 25px;
  color: white;
}

.start-title {
  font-size: 25px;
  color: white;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 25px;
}
body{
  overflow: hidden;
  scrollbar-width: none;
}
.menu-item {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
h3{
  text-align: center;
}
.menu-item:hover {
  transform: scale(1.1);
}
